{{#each deals as |deal| }}

{{ service.deal }}<br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src={{ user.avatarUrl }} class="card-img-top" alt="Imagen del">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                <div class="card-footer">
                    <small class="text-muted">{{ service.antCoins }}</small>
                </div>
            </div>
        </div>
    </div>
{{/each }}
    