<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
    integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<div class="container">
    {{#if services }}
    <div class="col-md-8 mx-auto">
        <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    <div class="d-flex justify-content-start align-items-center">
                        <img src="images/logo.png" alt="logo Anthill" class="float-start md-2 pb-2">
                        <h2 class="font-weight-bold fw-normal text-warning p-3 pb-3">Servicios</h2>
                    </div>
                    {{#each services as |service| }}
                    <div class="bg-white card mb-4 order-list shadow-sm">
                        <div class="gold-members p-4">
                            <img class="float-end mr-4 ml-4" src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                    alt="Imagen del usuario">
                            <h5 class="mb-2 text-info">{{ service.title }}</h5>
                            <div class="media">
                
                                <div class="media-body">
                                    <span class="float-right">Usuario<i class="icofont-check-circled
                                            text-success">
                                            </i></span>
                                    <p class="text-secondary mb-1"><i class="icofont-location-arrow"></i> {{ service.description }}</p>
                                    <hr>
                                    <div class="float-end">
                                        {{#itsMe ../currentUser.id service.owner }}
                                        <a class="btn btn-sm btn-outline-info" href="/service/{{service.id}}/delete"><i class="icofont-headphone-alt"></i>Borrar</a>
                                        {{else}}
                                        <a class="btn btn-sm btn-outline-warning"
                                            href="/users/{{service.owner}}"><i class=" icofont-headphone-alt"></i>Ver Perfil</a>
                                        <a class="btn btn-sm btn-warning text-white" href="/deal"><i class="icofont-refresh"></i>Ir al trato</a>
                                        {{/itsMe}}
                                    </div>
                                    <p class="mb-0 text-black text-warning pt-2 fw-bo"><span class="text-black font-weight-bold">Precio:</span> {{ service.antCoins }}
                                        AntCoins
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <hr>
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <a class="btn btn-info text-white" href="/service/new">Añadir nuevo servicio</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>